.admin-page{
    background-color: #FDF5DF;
    height: 100%;
}
.page-name{
    margin-top: 3%;
    font-style: italic;
    font-weight: 700;
    color: #BD1E51;
    /* font-size: 800; */
}
.data-details{
    width: 70%;
    height: 70%;
    /* margin-left: 10%;
    margin-top: 10%; */
    margin: 12%;
}
.table{
    /* background-color: #F1B814; */
    color: #BD1E51;
    font-size: medium;
}
tr:hover{
    background-color: #F1B814;
    color: #490B3D;
    font-size: large;
    font-weight: 600;
}
.table-bordered{
    border-color: #490B3D;
    border-width: 5px;
}